<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/all.min.css" />
  </head>

  <body id="cuerpo1">

    <header class="sticky-top w-100">
      <nav class="navbar m-0 nav1 navbar-expand-lg navbar-light">
        <div class="p-0 mr-auto">
          <div class="row">
            <img src="/img/café.gif" class="d-block rounded-circle logoDiet" alt="Logo"/>
            <a class="navbar-brand align-self-center ml-2 titulo" href="">MMM - Alimento Saludables</a>
          </div>
        </div>
          <div class="row p-2">     
              <ul class="navbar-nav w-50 w-md-100 justify-content-end">
                <li class="nav-item active login-div1"><a class="nav-link home" href="/">Home</a></li>
              </ul>
          </div>
      </nav>
    </header>

    <section class="container">
      
      <div class="py-5 mx-auto my-5 form_registro col-12 col-md-6">
        <div class="text-center mb-5">
          <h2>REGISTRO</h2>
        </div>

        <!-- //si el tipo de error es distinto de indefinido, osea que tiene algo
              // va a hacer el forEach -->
        <!-- <% if(typeof errors != 'undefined') { %>
                  <ul>
                      <% errors.forEach(error => { %>
                          <li><%= error.param %>:<%=error.msg %></li>
                      <% }) %>
                  </ul>
              <% } %> -->
        <div class="w-75 mx-auto">
          <form action="/registro" method="POST">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName">Nombre</label>
                <input type="text" name="nombre" class="form-control" id="inputName" required />
              </div>
              <div class="form-group col-md-6">
                <label for="inputLastName">Apellido</label>
                <input type="text" name="apellido" class="form-control" id="inputLastName" required />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <label for="inputEmail">Email</label>
                <input type="email" name="email" class="form-control" id="inputEmail" required />
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword">Contraseña</label>
                <input type="password" name="password" class="form-control" id="inputPassword" required minlength="5" />
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword2">Repetir Contraseña</label>
                <input type="password" class="form-control" id="inputPassword2" required minlength="5" />
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Dirección</label>
              <input type="text" name="direccion" class="form-control" id="inputAddress" required />
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Ciudad</label>
                <input type="text" name="ciudad" class="form-control" id="inputCity" required  />
              </div>
              <div class="form-group col-md-6">
                <label for="inputTel">Telefono</label>
                <input type="text" name="tel" class="form-control" id="inputTel" required />
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" />
                <label class="form-check-label" for="gridCheck">Recibir mail con promociones</label>
              </div>
            </div>
            <button type="submit" class="btn btn-success w-100">Registrarse</button>
          </form>
        </div>
      </div>
      <div class="border-bottom border-dark"></div>
      <div class="py-3 my-4 mx-auto col-12 col-md-6 form_registro">
        <div class="text-center">
          <h4>Recuperacion de Contraseña</h4>
        </div>
        <div class="my-4">
          <form action="" method="POST">
            <div class="form-inline justify-content-between">
              <label class="" for="inputEmail" ></label>
              <input type="email" class="form-control w-75" id="inputEmail" placeholder="Ingresa tu email" required />
              <button type="submit" class="btn btn-success">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    
    </section>

    <footer class="container-fluid mt-5 h-100">
      <div class="row">
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Navegacion</h4></li>
            <li><a href="#uno">Inicio</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="">Quienes somos</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Medios de pago</h4></li>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fas fa-money-check-alt"></i>
            <i class="fas fa-coins"></i>
            <i class="fab fa-bitcoin"></i>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Contactanos</h4></li>
            <li><i class="fab fa-whatsapp"></i>Whatsapp : 1155668695</li>
            <li><i class="far fa-envelope"></i>Email:dietetica@sueltos.com</li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Redes sociales</h4></li>
            <li><i class="fab fa-instagram"></i><a href="">Instagram</a></li>
            <li><i class="fab fa-facebook"></i><a href="">Facebook</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/app.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
