<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Categorias</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
</head>
<body id="cuerpo1">
    <div class="container d-flex flex-column text-white mt-5" >
    <h1 class="text-center mt-5 mb-5">Crear Categorias</h1>

    <form action="/admin" method="post" class="text-center ">
        <label for="nombre ">Nombre:</label>
        <input type="text" name='nombre' id="nombre"> 
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>

    <a href="/admin" class="btn btn-danger w-50 align-self-center  mt-5">Volver</a>
</div>
    <script src="https://kit.fontawesome.com/d33c08a0bc.js" crossorigin="anonymous"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>