<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/all.min.css">
</head>

<body id='cuerpo1' class="m-0 p-0 col-12 w-100">
    <header class=" m-0 p-0 ">
        <nav class="navbar m-0  nav1 navbar-expand-lg navbar-light">
            <div class="p-0 mr-auto">
                <div class="row">
                    <img src="/img/café.gif" class="d-block rounded-circle logoDiet" alt="Logo">
                    <a class="navbar-brand align-self-center ml-4 titulo" href="">MMM - Alimento Saludables</a>
                </div>
            </div>
            <div class="ml-auto menu-login1">
                <div class="row">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse dropright btn-colapse justify-content-end"
                        id="navbarNavDropdown">
                        <ul class="navbar-nav w-50 w-md-100 justify-content-end">
                            <li class="nav-item active login-div1">
                                <a class="nav-link home" href="/">Home</a>
                            </li>
                            <li class="nav-item dropleft dropdown-menu-right login-div2">
                                <a class="nav-link dropdown-toggle login" href="" id="navbarDropdownMenuLink"
                                    role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                    NOMBRE
                                </a>
                                <div class="position-absolute">
                                    <div class="dropdown-menu position-relative">
                                        <a class="dropdown-item" href="">Carrito de Compras</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/logout">Desconectar</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container ">
    <section class="col mx-auto text-center text-white ">
        <div class="mb-5">
        <h1 class="mt-5">Categorías</h1>
    </div>
    <div class="mb-5 ">
        <a href="/admin/create" class="btn btn-success mr-2">Crear categoría</a> | <a href="/logout" class="btn btn-success ml-2">Salir</a>
    </div>
        <table class="mx-auto text-center  ">
            <thead>
                <tr>
                    <th>#</th>
                    <th> NOMBRE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% rows.forEach(row => { %>
                    <tr>
                        <td>
                            <span><%= row.dataValues.id %></span>
                        </td>
                        <td><a href="/admin/<%= row.dataValues.id %> " class=" mr-3 ml-3 text-white"><u><%= row.dataValues.nombre %></u></a></td>
                        <th>
                            <a href="/admin/<%= row.dataValues.id %>/edit" class="btn btn-success mr-2">Editar</a>

                            <form style="display: inline-block;" action="/admin/<%= row.dataValues.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">Borrar</button>
                            </form>
                        </th>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    </section>

   
    <footer class="container-fluid mt-5 h-100">
        <div class="row">
          <div class="col-12 col-md-3">
            <ul>
              <li><h4 class="titulos-footer">Navegacion</h4></li>
              <li><a href="/inicio">Inicio</a></li>
              <li><a href="/productos">Productos</a></li>
              <li><a href="">Quienes somos</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-3">
            <ul>
              <li><h4 class="titulos-footer">Medios de pago</h4></li>
              <i class="fab fa-cc-visa"></i>
              <i class="fab fa-cc-mastercard"></i>
              <i class="fas fa-money-check-alt"></i>
              <i class="fas fa-coins"></i>
              <i class="fab fa-bitcoin"></i>
            </ul>
          </div>
          <div class="col-12 col-md-3">
            <ul>
              <li><h4 class="titulos-footer">Contactanos</h4></li>
              <li><i class="fab fa-whatsapp"></i>Whatsapp : 1155668695</li>
              <li><i class="far fa-envelope"></i>Email:dietetica@sueltos.com</li>
            </ul>
          </div>
          <div class="col-12 col-md-3">
            <ul>
              <li><h4 class="titulos-footer">Redes sociales</h4></li>
              <li><i class="fab fa-instagram"></i><a href="">Instagram</a></li>
              <li><i class="fab fa-facebook"></i><a href="">Facebook</a></li>
            </ul>
          </div>
        </div>
      </footer>
    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/app.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>
           