<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
</head>
<body class="bg-dark">
    <nav class="container-fluid w-100 bg-danger p-2">
        <h1 class="w-50 mx-auto text-center">Categoría <%= row.id %> : <%= row.nombre %> </h1>
      </nav>
      
      <section class="container mt-4">
        <a href="/admin" class="btn btn-success">Volver</a>  
        <table class="table table-striped mb-5 w-50 mx-auto">
            <thead>
              <tr class="table-danger">
                <th scope="col">#</th>
                <th scope="col">Productos</th>
              </tr>
            </thead>
            <% productos.forEach(producto => { %>
            <tbody>
              <tr class="table-success">
                <th scope="row"><%= producto.id %></th>
                <td><%= producto.name %></td>
              </tr>
            </tbody>
            <% }) %>
        </table>
    </section>

    <script src="https://kit.fontawesome.com/d33c08a0bc.js" crossorigin="anonymous"></script>
    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/app.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>