<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
  </head>

  <body id="cuerpo1" class="m-0 p-0">
    
    <header class="w-100">
      <nav class="navbar nav1 navbar-expand-lg navbar-light">
        <div class="m-auto">
          <div class="row">
            <img src="/img/café.gif" class="d-block rounded-circle logoDiet" alt="Logo"/>
            <a class="navbar-brand align-self-center ml-4 titulo" href="">MMM - Alimento Saludables</a>
          </div>
        </div>
        <div class="menu-login1">
          <div class="row">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse dropright btn-colapse justify-content-end" id="navbarNavDropdown">
              <ul class="navbar-nav w-50 w-md-100 justify-content-end">
                <li class="nav-item active login-div1">
                  <a class="nav-link home" href="/">Home</a>
                </li>
                <li class="nav-item dropleft dropdown-menu-right login-div2">
                  <a class="nav-link dropdown-toggle login" href="" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    <%= session.nombreUsuario || 'login' %>
                  </a>
                  <div class="position-absolute">
                    <div class="dropdown-menu position-relative">
                      <form class="px-4 py-3" action="/" method="POST">
                        <div class="form-group">
                          <label for="DropdownFormEmail1">Dirección de Email</label>
                          <input type="email" class="form-control" id="DropdownFormEmail1" name="email" placeholder="email@example.com"/>
                        </div>
                        <div class="form-group">
                          <label for="DropdownFormPassword1">Contraseña</label>
                          <input type="password" class="form-control" id="DropdownFormPassword1" name="password" placeholder="Password" />
                        </div>
                        <div class="form-group">
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck" />
                            <label class="form-check-label" for="dropdownCheck">Recordar</label>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                      </form>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="registro">¿Nuevo por aqui? Registrate</a>
                      <a class="dropdown-item" href="">¿Olvidaste la contraseña?</a>
                      <a href="/logout" type="submit" class="btn btn-primary">Salir</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <nav class="navbar nav2 navbar-expand-lg navbar-light">
        <span class="navbar-brand list-tit text-dark"><b>CARRITO DE COMPRAS</b></span>
      </nav>
    </header>

    <section class="container">
      <div class="row">
        <div class="table-responsive col-12 col-md-6">
          <table class="table table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Peso</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col"><span class="d-flex justify-content-center fas fa-plus"></span></th>
                <th scope="col"><span class="d-flex justify-content-center fas fa-minus"></span></th>
                <th scope="col"><span class="d-flex justify-content-center far fa-trash-alt"></span></th>
              </tr>
            </thead>
            <tbody class="bg-light">
              <% productos.forEach(producto => { %>

              <tr>
                <th scope="row"><%= producto.name %></th>
                <td><%= %></td>
                <td><%= session.carro.cantidad %></td>
                <td>$<%= producto.price_1000 %></td>
                <td>
                  <a href="/carro/sumar/<%=producto.id %>" class="btn btn-success eliminar rounded-circle btn-eliminar">
                    <span class="fas fa-plus"></span>
                  </a>
                </td>
                <td>
                  <a href="/carro/restar/<%=producto.id %>" class="btn btn-success eliminar rounded-circle btn-eliminar">
                    <span class="fas fa-minus"></span>
                  </a>
                </td>             
                <td class="d-flex justify-content-center">
                  <a href="/carro/quitar/<%=producto.id %>" class="btn btn-danger eliminar rounded-circle btn-eliminar">
                    <span class="far fa-trash-alt"></span>
                  </a>
                </td>

              </tr>
              <% }) %>
            </tbody>
          </table>
          <table class="table table-hover">
            <tbody class="bg-dark">
              <tr>
                <th scope="row">SubTotal</th>
                <td></td>
                <td></td>
                <td class="text-right">$ 10500</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 col-md-6 m-0">
          <div class="col-10 col-sm-8 col-md-6 mx-auto border border-dark rounded">
            <table class="table table-borderless table-striped">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Subtotal</th>
                  <td class="text-right">$ 10500</td>
                </tr>
                <tr>
                  <th scope="row">TOTAL</th>
                  <td class="text-right">$ 10550</td>
                </tr>
                <tr>
                  <th scope="row">Descuento</th>
                  <td class="text-right">0 %</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-6 mt-4 mx-auto d-flex justify-content-center">
            <button class="btn btn-success" type="submit">Finalizar Compra</button>
          </div>
          <div class="col-12 col-sm-9 col-md-12 col-lg-8 mx-auto">
            <div class="border border-dark mt-5 py-3 text-center pagos">
              <p class="col-11 mx-auto"> Formas de Pago:<br/> Efectivo (pago en el momento de entrega) <br/>o Transferencia</p>
              <p class="col-11 mx-auto text-wrap">CBU: 0000002234498623045103</p>
              <p class="col-11 mx-auto">Alias: MATIAS.MISAEL.MAXI</p>
            </div>
          </div>
          <form class="col-12 col-sm-10 col-md-8 my-5 mx-auto" action="" method="post">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1"/>
              <label class="custom-control-label" for="customCheck1">Preparar mi pedido sin bolsas.</label>
            </div>
            <div class="form-group">
              <label for="FormTextarea">Observaciones:</label>
              <textarea class="form-control formObservaciones" id="FormTextarea" rows="3"></textarea>
            </div>
          </form>
        </div>
      </div>
    </section>

    <footer class="container-fluid mt-5 h-100">
      <div class="row">
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Navegacion</h4></li>
            <li><a href="#uno">Inicio</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="">Quienes somos</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Medios de pago</h4></li>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fas fa-money-check-alt"></i>
            <i class="fas fa-coins"></i>
            <i class="fab fa-bitcoin"></i>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Contactanos</h4></li>
            <li><i class="fab fa-whatsapp"></i>Whatsapp : 1155668695</li>
            <li><i class="far fa-envelope"></i>Email:dietetica@sueltos.com</li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Redes sociales</h4></li>
            <li><i class="fab fa-instagram"></i><a href="">Instagram</a></li>
            <li><i class="fab fa-facebook"></i><a href="">Facebook</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/app.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
