<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MMM - Alimentos Saludables</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
  </head>
  <body id="cuerpo1">
    <header class="w-100">     
      <nav class="navbar nav1 navbar-expand-lg navbar-light row-md-12">
        <div class="m-auto">
          <div class="row">
            <img src="/img/café.gif" class="d-block rounded-circle logoDiet" alt="Logo"/>
            <a class="navbar-brand align-self-center ml-2 titulo" href="/">MMM - Alimento Saludables</a>
          </div>
        </div>
        <div class="menu-login1">
          <div class="row">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
              aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100 dropright btn-colapse justify-content-end" id="navbarNavDropdown">
              <ul class="navbar-nav w-50 w-md-100 justify-content-end">
                <a href="/carro" class="text-decoration-none  mr-2"> <i class="fas fa-shopping-cart  text-success "></i></a>
                <li class="nav-link home mr-2">
                  <a href="admin">Admistrador</a>
                </li>
                <li class="nav-item active login-div1 mr-2">
                  <a class="nav-link home" href="/">Home</a>
                </li>
                <li class="nav-item dropleft dropdown-menu-right login-div2">
                  <a class="nav-link dropdown-toggle login" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                    aria-haspopup="false" aria-expanded="false">
                    <b><%= nombre %></b>
                  </a>
                  <div class="position-absolute ">
                    <div class="dropdown-menu position-relative  bg-dark text-white">
                      <form class="px-4 py-3 " id="formLogin" action="/" method="POST">
                        <div class="form-group">
                          <label for="DropdownFormEmail1">Dirección de Email</label>
                          <input type="email" class="form-control" id="DropdownFormEmail1" name="email" placeholder="email@example.com" required />
                        </div>

                        <div class="form-group">
                          <label for="DropdownFormPassword1">Contraseña</label>
                          <input type="password" class="form-control" id="DropdownFormPassword1" name="password" placeholder="Password" required/>
                        </div>
                        <div class="form-group">
                          <div class="form-check ">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck"/>
                            <label class="form-check-label" for="dropdownCheck">Recordar</label>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                        <a href="/logout" type="submit" class="btn btn-danger">Salir</a>
                        <br/>
                        
                      </form>
                      <div class="dropdown-divider "></div>
                      <a class="dropdown-item text-white" href="registro">¿Nuevo por aqui? Registrate</a>
                      <a class="dropdown-item text-white" href="">¿Olvidaste la contraseña?</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <nav class="navbar nav2 navbar-expand-lg navbar-light">
        <button
          class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row justify-content-between list-cat" id="navbarSupportedContent">
          <div class="col-12 col-lg-11 nav2-item justify-content-between list-prod p-0 d-flex">
            <div class="col-6 col-md-2 align-self-center">
              <span class="list-tit">Categorias</span>
            </div>
            <div class="col-6 col-md-11 collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% rows.forEach (row => { %>
                <li class="nav-item">
                  <a class="nav-link" href="/categoria/<%= row.dataValues.id %>"><b><%=row.dataValues.nombre%></b></a>
                </li>
                <% }) %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section id="galeria" class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 primer-foto">
          <div class="collage-details p-3">
            <h6 class="text-dark"><strong>En MMM</strong></h6>
            <h2> Encontrarás los mejores frutos secos y productos de la región</h2>
            <h6><strong>Ricos y saludables</strong></h6>
          </div>
          <img src="/img/productos/83_lentejas_rojas_turcas.jpg" alt="frutos secos"/>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-12">
          <div class="collage-details p-3">
            <a><h6><strong>Ciruelas</strong></h6></a>
          </div>
          <img src="/img/productos/17_ciruelas_presidente.jpg" alt="frutos secos"/>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="collage-details p-3">
            <a><h6><strong>Ricos y saludables</strong></h6></a>
          </div>
          <img src="/img/productos/43_bolitas_choco.jpg" alt="frutos secos" />
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="collage-details p-3">
            <a><h6><strong>Mix Kinder</strong></h6></a>
          </div>
          <img src="/img/productos/27_mix_kinder.jpg" alt="frutos secos"/>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="collage-details p-3">
            <a><h6><strong>Porotos</strong></h6></a>
          </div>
          <img src="/img/productos/porotos colorados sueltos.jpg" alt="frutos secos"/>
        </div>
      </div>
      <div class="title">
       <a href="/productos " class=" text-decoration-none "> <h5 class="mx-auto p-2 col-12 title-prod font-weight-bold mt-5 mb-5 text-dark">Ver todo</h5></a>
      </div>
    </section>

    <footer class="container-fluid mt-5 h-100">
      <div class="row">
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Navegacion</h4></li>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="">Quienes somos</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Medios de pago</h4></li>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fas fa-money-check-alt"></i>
            <i class="fas fa-coins"></i>
            <i class="fab fa-bitcoin"></i>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Contactanos</h4></li>
            <li><i class="fab fa-whatsapp"></i>Whatsapp : 1155668695</li>
            <li><i class="far fa-envelope"></i>Email:dietetica@sueltos.com</li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Redes sociales</h4></li>
            <li><i class="fab fa-instagram"></i><a href="">Instagram</a></li>
            <li><i class="fab fa-facebook"></i><a href="">Facebook</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="https://kit.fontawesome.com/d33c08a0bc.js" crossorigin="anonymous"></script>
    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/app.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
