@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto+Slab:wght@200;300;400&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

:root {
    --my-color: #ffe268;
    --my-color2:wheat;
    --lineas:rgba(72, 116, 58, 0.705);
    --fondo:#364547;
}

#cuerpo1 {
    background-color:var(--fondo);
}

/* NAVBAR */

.nav1, .nav2{
    background: var(--my-color);
    border-bottom: solid 1px var(--lineas);
}

.nav2{
    margin-bottom: 5%;
}

.nav-link {
    font-size: 0.95rem;
}

.titulo{
    font-size:xx-large;
    font-family: 'Qwigley', cursive ;
}

.logoDiet{
    height: 10vh;
    width: 10vh;
}

/* Login */

.menu-login1{
    width: 10%;
}

.login{
    color: black;
    /* border: 1px black solid; */
}


/* SECTION - INDEX */

section, footer {
    font-family: 'Roboto', sans-serif;
}

#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 1rem;
}

#galeria img {
    width: 100%;
    height: 20rem;
    background-size: cover;
}

#galeria img:hover {
    border: 0.5rem solid #f9f8ed;
}

.collage-details {
    position: absolute; /* PARA QUE ESTE ENCIMA DE LA IMG */
    bottom: 0rem;
    left: 1rem;
    z-index: 9000;
    color: wheat;
}

.list-tit {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(71, 83, 74);
}

/* PRODUCTOS / SHOW */

#facilities {
    padding: 30px 0px;
}

.title-prod {
    background-color: var(--my-color);
    width: 20vw;
    border-radius: 1rem;
    text-align: center;
}
.title-prod:hover {
    background-color: #e6ce72;
}
.title-prod:focus {
    background-color: #e6ce72;
}

.card {
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
    margin: 20px 10px;
    background: #f9f8ed;
    height: 380px;
}

.card > img {
    height: 45%;
    position: relative;
}

.btn-card {
    border: 0.1rem solid rgb(111, 189, 128);
    border-radius: 100px;
}  

/* REGISTER */

.form_registro{
    background:wheat;
    border-radius: 1rem;
}

/* CARRITO */

.div-tabla-carrito{
    border: 2px solid black;
}


.pagos{
    background: rgba(218, 196, 143, 0.45);
}

.formObservaciones{
    background-color: #fff6d7 ;
}


/* FOOTER */

footer{
    background-color: var(--my-color);
    font-family: 'Qwigley', cursive ;
    border-top: solid 1px rgba(72, 116, 58, 0.705);
    height: 10rem;
    width: 100%;
}

.titulos-footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight:bolder;
    margin-top: 22px;
}

li {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: 2px;
    list-style: none;
}
ul li a {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    color: white;
    text-decoration: none;
}

i {
    font-size: 30px;
    margin: 10px;
}

.fa-whatsapp, .fa-envelope, .fa-instagram, .fa-facebook {
    font-size: 20px;
}

.selector{
    background:wheat;
}

.ocultar{
    display: none;
}

.fondoForm{
    background:wheat;
}
.fas {
    font-size: 1.3rem;
}

@media (min-width:320px) and (max-width:700px) {

     /* navbar */

    .logoDiet {
        height: 6vh;
        width: 6vh;
    }

    .titulo {
        font-size: 1.8rem;
    }

    .title-prod {
        width: 40%;
    }

    /* Index */

    .collage-details > h6, .collage-details > h2 {
        padding-left: 1%;
    }

    .collage-details > h2 {
        font-size: 1.5rem;
    }

    .primer-foto {
        margin-bottom: 3%;
    }

    /* productos/show */

    

    /* footer */

    footer {
        height: 50%;
        width: 100%;
    }
}

@media  (min-width:800 px) and (max-width:1024px) {
        footer {
            height: 50%;
            width: 100%;
        }

        #galeria img {
            width: 70%;
            height: 20rem;
            margin-left: 20%;
        }

        .collage-details > strong{
            font-size: 0.2rem;
        }
}
