<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MMM - Alimentos Saludables</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
  </head>
  <body id="cuerpo1">
    <header class="w-100">     
      <nav class="navbar nav1 navbar-expand-lg navbar-light row-md-12">
        <div class="m-auto">
          <div class="row">
            <img src="/img/café.gif" class="d-block rounded-circle logoDiet" alt="Logo"/>
            <a class="navbar-brand align-self-center ml-2 titulo" href="/">MMM - Alimento Saludables</a>
          </div>
        </div>
        <div class="menu-login1">
          <div class="row">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
              aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100 dropright btn-colapse justify-content-end" id="navbarNavDropdown">
              <ul class="navbar-nav w-50 w-md-100 justify-content-end">
                <a href="/carro" class="text-decoration-none"> <i class="fas fa-shopping-cart text-success "></i></a>
                <li class="nav-item active login-div1">
                  <a class="nav-link home" href="/">Home</a>
                </li>
                <li class="nav-item dropleft dropdown-menu-right login-div2">
                  <a class="nav-link dropdown-toggle login" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                    aria-haspopup="false" aria-expanded="false">
                    <b><%= session.name %></b>
                  </a>
                  <div class="position-absolute">
                    <div class="dropdown-menu position-relative">
                      
                      <form class="px-4 py-3 " id="formLogin" action="/" method="POST">
                        <div class="form-group">
                          <label for="DropdownFormEmail1">Dirección de Email</label>
                          <input type="email" class="form-control" id="DropdownFormEmail1" name="email" placeholder="email@example.com" required />
                        </div>

                        <div class="form-group">
                          <label for="DropdownFormPassword1">Contraseña</label>
                          <input type="password" class="form-control" id="DropdownFormPassword1" name="password" placeholder="Password" required/>
                        </div>
                        <div class="form-group">
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck"/>
                            <label class="form-check-label" for="dropdownCheck">Recordar</label>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                        <br/>
                        
                      </form>
                      
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="registro">¿Nuevo por aqui? Registrate</a>
                      <a class="dropdown-item" href="">¿Olvidaste la contraseña?</a>
                      <a href="/logout" type="submit" class="btn btn-primary">Salir</a>
                    </div>
                  </div>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <nav class="navbar nav2 navbar-expand-lg navbar-light">
        <button
          class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse w-100 row justify-content-between list-cat" id="navbarSupportedContent">
          <div class="col-12 col-lg-11 nav2-item w-100 justify-content-between list-prod p-0 d-flex">
            <div class="col-6 col-md-2 align-self-center">
              <span class="list-tit">Categorias</span>
            </div>
            <div class="col-6 col-md-11 collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% rows.forEach (row => { %>
                <li class="nav-item">
                  <a class="nav-link" href="/categoria/<%= row.dataValues.id %>"><b><%=row.dataValues.nombre%></b></a>
                </li>
                <% }) %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section class="container">
      <div class="title">
        <h5 class="mx-auto p-2 col-12 title-prod font-weight-bold"><%=row.dataValues.nombre%></h5>
      </div>
      <div class="card-deck my-5 mx-3 row row-cols-1  row-cols-md-2 row-cols-lg-4 justify-content-center">
        <% productos.forEach(producto => { %>
        <div class="col">
          <div class="card text-center">
            <img src="/img/productos/<%= producto.img_name %>" class="card-img-top" alt="..." />
            <div class="card-body">
              <h6 class="card-title font-weight-bold"><%= producto.name %></h6>
            </div>
            <div class="card-body-links my-3 align-bottom align-self-center text-center">
              <form action="/carro/agregar" method="POST">
                <input type="hidden" name="producto_id" value="<%= producto.id %>"/>
                <div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text p-1" for="inputGroupSelect01">Peso</label>
                    </div>
                    <select class="custom-select"  name="peso_producto"> 
                      <option value="1000">
                        1 Kg - $<%= producto.price_1000 %>
                      </option>
                      <option value="500">
                        1/2 kg - $<%= producto.price_500 %>
                      </option>
                      <option value="250">
                        1/4 Kg - $<%= producto.price_250 %>
                      </option>
                    </select>
                  </div>
                </div>
                <div>
                  <button type="submit" href="/carro" class="btn btn-card btn-primary">Comprar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <div class="title">
        <a href="/productos " class=" text-decoration-none "> <h5 class="mx-auto p-2 col-12 title-prod font-weight-bold mt-5 mb-5 text-dark">Ver todo</h5></a>
       </div>
    </section>

    <footer class="container-fluid mt-5 h-100">
      <div class="row">
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Navegacion</h4></li>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="">Quienes somos</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Medios de pago</h4></li>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fas fa-money-check-alt"></i>
            <i class="fas fa-coins"></i>
            <i class="fab fa-bitcoin"></i>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Contactanos</h4></li>
            <li><i class="fab fa-whatsapp"></i>Whatsapp : 1155668695</li>
            <li><i class="far fa-envelope"></i>Email:dietetica@sueltos.com</li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul>
            <li><h4 class="titulos-footer">Redes sociales</h4></li>
            <li><i class="fab fa-instagram"></i><a href="">Instagram</a></li>
            <li><i class="fab fa-facebook"></i><a href="">Facebook</a></li>
          </ul>
        </div>
      </div>
     
    </footer>

    <script src="https://kit.fontawesome.com/d33c08a0bc.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <!-- <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
  
  </body>
</html>
